<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AAAAReadMe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>APUEMac copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>APUEMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Alloca.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ArgCheck.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ArrayPointer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ArrayReverseRecursion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ArraySumRecursion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Atof.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Atoi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Atttribute.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>AtttributeAlias.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>AtttributeAligned.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>AtttributeAlwaysInline.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>AtttributeFormat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>AtttributePacked.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>AtttributeSection.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>AtttributeWeak.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>BinaryTree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Binsearch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>BitCount.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>BitField.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>BlockStructure.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>BlockStructureFix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>BlockStructurePro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>BubbleSort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Builtin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>BuiltinConstantp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>BuiltinExpect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>BuiltinFrameAddress.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>BuiltinLikelyUnLikely.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>CalculatorCommand.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>CalculatorDivision.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>CalculatorMath.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>CalculatorOne.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>CalculatorTwo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>CalculatorVar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Calloc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>CharClassifiedStatistics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>CharClassifiedStatisticsSwitch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>CharCount.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>CircleLinkedList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Close.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>ConditionalCompilation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>ConstRestrict.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>ContainerOfMacro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>ContainerOfMacroPre.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>Copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>CopySlow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>CopyStd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>CurrentFunctionName.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>DanglingPointer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>DanglingPointerThree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>DanglingPointerTwo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>DataType.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>DeadLock.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>DeleteNote.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>Detab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>DetermineRanges.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>DoubleWayLinkedList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>EOFS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>Entab.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>Enum.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>ErgodicDir.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>ErgodicDirImpru.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>Escape.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>EscapeCharacterRestore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>Expand.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>Factorial.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>Fibonacci.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>FibonacciDynamicProgramming.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>FibonacciRecursion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>FirstDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>FlexibleArray.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>FlexibleArrayApply.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>FlexibleArrayPre.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>FoldLine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>Fopen.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>FormatControl.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>FormatTailBlanks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>Free.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>FrequencyHistogram.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>FunctionPointer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>GNUCExtendAmbiguity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>GNUCMacroExtend.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>GNUCMacroExtendApply.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>GNUCMacroExtendFix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>GNUCMacroExtendPre.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>Getbits.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>Getfloat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>Getint.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>GetintFix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>Getopt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>HighToLow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>Histogram.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>HistogramVersionTwo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>Htoi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>HuffmanTree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>InlineAssembleEight.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>InlineAssembleEleven.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>InlineAssembleFive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>InlineAssembleFour.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>InlineAssembleNine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>InlineAssembleOne.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>InlineAssembleSeven.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>InlineAssembleSix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>InlineAssembleTen.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>InlineAssembleThree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>InlineAssembleTwo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>InputCopy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>InsertSort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>Invert.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>Iotcl.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>Itoa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>ItoaRecursion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>Itob.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>LineCount.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>LinkStack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>LinkedListPolynomial.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>LinkedQueue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>LockMacro.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>MINEOSListTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>MacroDefinition.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>Macrosubstitution.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>Malloc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>MallocTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>MallocTestTwo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>MemoryLeak.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>Memset.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>Mmapmini.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>MultiThreadCounter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>NULLPointer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>OOPAbstract.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>OneLineOneWord.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>OneLineOneWordVersionTwo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>Open.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>PIApproach.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>PascalTriangle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>135</integer>
		</dict>
		<key>PascalTriangleImprovement.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>136</integer>
		</dict>
		<key>PascalTriangleImprovementError.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>PascalTriangleLinkedQueue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>PerformanceTesting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>PointerArithmeticOoperation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>Polynomial.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>Power.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>PrintGreatInputLine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>PrintSingleLinkedList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>PrintTheLongestInputLine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>PrintTheLongestInputLineExtern.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>PrintTheLongestInputLineVersionTwo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
		<key>Printd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>PythagoreanTriple.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>QuickSort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
		<key>QuickSortTwo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>RadixSort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>RangeMatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>Read.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>155</integer>
		</dict>
		<key>Realloc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>156</integer>
		</dict>
		<key>Reverse.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>157</integer>
		</dict>
		<key>ReverseRecursion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>158</integer>
		</dict>
		<key>Rightrot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>159</integer>
		</dict>
		<key>STNCount.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>176</integer>
		</dict>
		<key>SequentialList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>160</integer>
		</dict>
		<key>SequentialQueue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>SequentialStack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>162</integer>
		</dict>
		<key>Setbits.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>163</integer>
		</dict>
		<key>ShellSort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>164</integer>
		</dict>
		<key>ShellSortPro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>165</integer>
		</dict>
		<key>SignPairDetection.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>167</integer>
		</dict>
		<key>SingleLinkedList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>166</integer>
		</dict>
		<key>SpaceSubstitution.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>168</integer>
		</dict>
		<key>SpecifiedInitialization.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>169</integer>
		</dict>
		<key>Squeeze.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>170</integer>
		</dict>
		<key>StackConversion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>172</integer>
		</dict>
		<key>StackRecursion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>173</integer>
		</dict>
		<key>Stat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>171</integer>
		</dict>
		<key>StatementExprs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>174</integer>
		</dict>
		<key>StatementExprsMacro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>175</integer>
		</dict>
		<key>Strcat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>177</integer>
		</dict>
		<key>Strcmp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>178</integer>
		</dict>
		<key>Strindex.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>179</integer>
		</dict>
		<key>Strlen.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>180</integer>
		</dict>
		<key>Strpbrk.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>181</integer>
		</dict>
		<key>StructPointers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>182</integer>
		</dict>
		<key>StructPointersLite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>183</integer>
		</dict>
		<key>StructPointersMajor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>184</integer>
		</dict>
		<key>StructurePuzzle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>185</integer>
		</dict>
		<key>Trim.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>186</integer>
		</dict>
		<key>Typedef.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>187</integer>
		</dict>
		<key>Typeof.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>188</integer>
		</dict>
		<key>UnionType.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>189</integer>
		</dict>
		<key>Va_list.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>190</integer>
		</dict>
		<key>Va_listCPlusPlus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>191</integer>
		</dict>
		<key>WordCount.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>192</integer>
		</dict>
		<key>Write.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>193</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C2864A822D1D01B00E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2864B422D1D0B200E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2864BF22D1D11000E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2864CA22D1D18300E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2864D522D1D1BA00E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2864E022D1D1F500E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2864EC22D1D2D800E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2864F722D1D32300E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C28650222D1D34900E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C28650D22D1D38900E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C28651822D1D44600E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C28652322D1D49D00E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C28652E22D1D4C900E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C28653922D1D4EC00E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C28654E22D1D67E00E48B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C33D396230BC20900D19932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C33D3A2230BDA6F00D19932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C33D3AD230BE59600D19932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C430E8B22D1E1D500DF86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C430E9622D1E22300DF86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C430EA222D1E38E00DF86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C430EAD22D1E3EA00DF86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C430EB822D1E46B00DF86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C430EC322D1E4A100DF86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C430ECE22D1E4DB00DF86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C430EDA22D1E62B00DF86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C430EE522D1E67400DF86C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49015922D1F4E1007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49016422D1F55F007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49017022D1F5F8007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49017B22D1F631007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49018622D1F667007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49019122D1F694007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49019C22D1F6B8007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4901A722D1F71F007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4901B222D1F751007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4901BD22D1F78A007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4901C822D1F7C4007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4901D322D1F896007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4901DE22D1F959007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4901E922D1F989007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4901F422D1F9C2007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49020122D1FA96007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49020C22D1FADC007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49021722D1FB34007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49022522D1FF5C007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49023022D1FF96007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49023B22D1FFCE007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49024622D2009F007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49025122D201DB007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49025C22D20216007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49026822D202FA007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49027322D20324007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49027E22D20385007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49028922D203B8007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49029422D20414007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49029F22D204F5007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4902AA22D2051E007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4902B522D2054E007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4902C022D2058D007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4902CB22D205C9007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4902D622D2060F007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4902E122D2062B007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4902EC22D20652007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4902F722D2067A007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49030222D206A3007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49030D22D206E7007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49031822D20710007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49032322D2074B007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49032E22D20772007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49033922D2079B007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49034422D207B9007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49034F22D207DC007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49035A22D2080E007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49036522D20858007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49037022D20880007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49037B22D208B5007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49038622D208DE007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49039122D209EF007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49039C22D20A11007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4903A722D20A44007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4903B222D20ABF007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4903BD22D20AEF007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4903C822D20B45007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4903D322D20B64007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4903DE22D20B92007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4903E922D20BC0007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4903F422D20BF3007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4903FF22D20C18007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49040A22D20C48007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49041522D20C75007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49042022D20CAF007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49042B22D20CDD007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49043622D20D02007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49044122D20D39007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49044C22D20D70007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49045722D20D96007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49046222D20E3A007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49046D22D20E68007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49047822D20E93007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49048322D20EDB007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49048E22D20F0A007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C49049922D20F3A007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4904A422D20F6F007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4904AF22D20F9C007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4904BA22D2100F007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4904C522D21034007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4904D022D21057007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4904DB22D2107B007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4904E622D2109F007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4904F122D210C2007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4904FD22D2114E007FF62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C80D59A22ED3FBE0003BFFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C80D5A522ED4B4C0003BFFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C88671722B1459E00E39B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C88672222B145BF00E39B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C88673822B1465600E39B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C88674322B1467700E39B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C88674E22B1468C00E39B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C88675922B1469700E39B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C88676422B146A100E39B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C88677022B1490D00E39B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C89738A230051C200013731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C89739523005C6500013731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8973A023005D3300013731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8973AB23005D5500013731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C952D7122B209D10072DAE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C952D7C22B20EC60072DAE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA2483822B63B380035493E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA2484322B643F00035493E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CACB47B230C4D690065DDA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CACB486230C4D810065DDA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CAFF6D822B134F600A0AAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CAFF6E622B1359800A0AAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CAFF6F322B135DF00A0AAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D6F522D1D9D50039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D70022D1D9FF0039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D70B22D1DA5C0039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D71622D1DA890039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D72222D1DAE30039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D72D22D1DB240039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D73822D1DB7F0039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D74322D1DC6E0039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D74E22D1DCA00039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D75A22D1DD880039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D76522D1DDE30039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D77022D1DE3D0039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D77B22D1DE870039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D78622D1DEB60039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D79122D1DF270039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D79C22D1DF540039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D7A722D1DFAB0039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD2D7B222D1E0060039D03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5846922D2201400B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5847A22D220AE00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5848522D220D300B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5849022D220FC00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5849B22D2212800B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD584A622D2214F00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD584B122D2218100B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD584BC22D221A800B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD584C722D221D000B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD584D222D221FC00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD584DD22D2222400B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD584E822D2224600B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD584F322D2227200B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD584FE22D2229F00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5850922D222BE00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5851422D222E000B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5851F22D2230600B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5852A22D2233400B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5853522D2235200B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5854022D2238900B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5854B22D223AD00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5855622D223D200B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5856122D2241600B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5856C22D2244500B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5857722D2246C00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5858222D224D700B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5858D22D224F200B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD5859822D2251900B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD585A322D2253500B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD585AE22D2254F00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD585B922D2257000B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD585C422D2258600B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD585CF22D225C100B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD585DA22D225EE00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD585E822D2266A00B34013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE4804B22B29AF000F0688E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE6327A2302F63100C05F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE89D0F230D2420006E83B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF36A1F22B52F19004BF16B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF36A2A22B541D9004BF16B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF36A3522B549DB004BF16B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
